[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
authlib = "==1.2.1"
cffi = "==1.15.1"
cryptography = "==41.0.3"
deprecated = "==1.2.14"
django = "==4.1.10"
django-cors-headers = "==4.2.0"
django-filter = "==23.2"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
dnspython = "==2.4.1"
jwcrypto = "==1.5.0"
markdown = "==3.4.4"
mysqlclient = "==2.2.0"
pycparser = "==2.21"
pygments = "==2.15.1"
pyjwt = "==2.8.0"
python-dotenv = "==1.0.0"
pytz = "==2023.3"
pyyaml = "==6.0.1"
rest-framework-simplejwt = "==0.0.2"
sqlparse = "==0.2.4"
typing-extensions = "==4.7.1"
uritemplate = "==4.1.1"
wrapt = "==1.15.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
