@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";


.animal-page {
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
        margin: 2.25rem;
    }

    &__attribute-list {
        list-style-type: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        padding: 1rem;
        border-top: 0.125rem solid colors.$secondary-slate;
        border-bottom: 0.125rem solid colors.$secondary-slate;

        @include mixins.tablet {
            list-style-type: disc;
            flex-direction: row;
            padding-left: 1rem;
        }
    }

    &__attribute {
        padding: 0.25rem;

        &::after {
            content: " /";

            @include mixins.tablet {
                content: "";
            }
        }

        @include mixins.tablet {
            padding: 0.5rem;
            margin: 1rem;
        }
    }

    &__button {
        margin: 1rem;
        @include mixins.request-button;
    }

    &__description {
        padding: 1rem;
        text-align: left;
        line-height: 2;
        width: 100%;

        @include mixins.tablet {
            padding: 1rem;
            text-align: left;
            line-height: 2;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include mixins.tablet {
            flex-direction: row;
        }
    }

    &__content {
        width: 100%;

        @include mixins.tablet {
            width: 75%;
            padding: 1rem;
        }
    }

    &__pic-frame {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mixins.tablet {
            width: 25%;
            padding: 1rem;
        }
    }

    &__pic {
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 0.5rem;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    &__pickup {
        white-space: break-spaces;
        text-align: right;
    }

    &__name {
        text-align: left;
        color: colors.$secondary-blue;
        padding: 1rem;
    }

    &__link {
        @include mixins.request-button;
        margin: 1rem;
        text-decoration: none;
        display: block;
        max-width: fit-content;
    }

    &__breed {
        text-align: left;
        padding: 1rem;
    }

    &__bottom {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row;
            padding-left: 1rem;
            border-top: 0.125rem solid colors.$secondary-slate;
            border-bottom: 0.125rem solid colors.$secondary-slate;
            justify-content: space-around;
            border-radius: 0.125rem;
        }
    }

    &__bottom-address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include mixins.tablet {
            flex-direction: row;
            justify-content: space-around;
            width: 66%;
        }
    }

    &__pickup {
        padding: 1rem;
        line-height: 1.5;
    }

    &__dropoff {
        padding: 1rem;
        line-height: 1.5;
    }

    &__list {
        list-style-type: none;
    }

    &__list-item {
        text-align: left;
        padding: 0.0625rem;
    }

    &__trans-info {
        display: flex;
        line-height: 2;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        @include mixins.tablet {
            justify-content: space-around;
        }
    }

}