@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.navbar {
	position: relative;
	padding: 1rem;
	background-color: colors.$primary-blue;
	color: colors.$primary-white;
	border-bottom: 0.5rem solid colors.$primary-green;
	display: flex;

	height: 20vh;
	
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url("../../assets/paw-trail.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 1;
		opacity: 0.45;
	}
	@include mixins.tablet {
		padding: 1rem 2.25rem;
		height: 20vh;
	}

	@include mixins.desktop {
		padding: 1rem 5rem;
	}

	&__left-section {
		width:80%;
		z-index: 2;
		display: flex;
		align-items: center;
		@include mixins.tablet{
			width:85%;
		}
	}

	&__right-section {
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width:20%;
		@include mixins.tablet{
			width:15%;
		}
	}

	&__title-div {
		z-index: 2;
		font-size: 2rem;
	}

	&__title{
		font-size: 1.5rem;
		@include mixins.tablet{
			font-size: 2.5rem;
			line-height: 1.5;
		}
	}

	&__title-link{
		color: colors.$primary-white;
		text-decoration: none;
	}

	&__profile-icon {
		height: 3rem;
		width: 3rem;

		@include mixins.tablet {
			height: 3.5rem;
			width: 3.5rem;
		}
	}

	&__button {
		@include mixins.request-button;
		padding: 0.25rem;
		margin-right: 1rem;
		@include mixins.tablet{
			padding: 0 0.5rem;
			margin-right: 0;
		}
		}
}
