@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__div {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    &__input {
        padding: 0.5rem;
        border-radius: 0.45rem;
    }

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 1rem;
        margin-top: 3rem;
        color: colors.$secondary-slate;
        text-align: center;

        @include mixins.tablet {
            font-size: 1.5rem;
            padding: 0;
        }
    }

    &__button {
        @include mixins.request-button;
    }

    &__google {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
}


.Sso__dividerLine {
    border-top: 1px solid #edeff1;
    width: 40%;
}

.Sso__dividerText {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: #878a8c;
    text-transform: uppercase;
}

.Sso__divider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.75rem 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
