@import "./colors";

// Breakpoints
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  font-size: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: $primary-button;
  border: 0.0625rem solid $primary-blue;
  color: $primary-white;
  border-radius: 0.25rem;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s;
  &:hover {
    background-color: $primary-hover;
}
@media (min-width: 768px) {
  font-size: 0.75rem;
  
}
};


@mixin submit-button {
  margin: 1rem;
  padding: 0.5rem;
  background-color: $primary-green;
  border: 0.0625rem solid $primary-button;
  color: $primary-white;
  border-radius: 0.5rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 0.15s;
  &:hover {
    background-color: $primary-hover;
}
};



@mixin request-button{

  background: linear-gradient(to bottom right, $secondary-blue, $primary-green);
  border: 0;
  border-radius: 0.75rem;
  color: $primary-white;
  cursor: pointer;
  display: inline-block;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2.5;
  padding: 0 1rem;

  &:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(64, 231, 139, 0.5), .125rem .125rem 1rem rgba(60, 202, 245, 0.5);
  }


  &:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(31, 219, 188, 0.5), .125rem .125rem 1rem rgba(26, 203, 235, 0.5);
  }
  @include tablet{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.5;
    padding: 0 1rem;


  }
}