{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% vite_hmr_client %}
    {% vite_asset './src/main.jsx' %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>PAWS-INDEX</title>
  </head>
  <body>
  

    <div id="root">  </div>
    <div class="container">
      {% block body %}
   
   
      {payload}
      {% endblock %}
  </div>
  <div>

    <script src="{% static './src/main.jsx %}"></script

  </body>
</html>

